# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Bill0412
	email = jxphxufh@gmail.com

[alias]
	graph = log --all --graph --decorate --oneline